ckpts/*
predictions/config/*
predictions/logs/*
predictions/results/*
src/normal_smooth_cache/*
src/__pycache__
trains
parsenet/*
sed_net_data/*
data_parsenet/*
**/__pycache__/
nohup.out
val/
results/